<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
	xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<global-property doc:name="Global Property" doc:id="b6dc364a-2fda-4573-b9ef-c749cb8cd5c0" name="env" value="local" />
	<configuration-properties doc:name="Configuration properties" doc:id="a9078703-ce5b-4090-8b86-3b92911d1558" file="hsna-${env}.properties" />
	<json-logger:config name="JSON_Logger_Config" doc:name="JSON Logger Config" doc:id="2b12bd98-1e98-4892-ab7a-e02b35a67b2f" environment="${env}" />
	<http:listener-config name="api-httpListenerConfig" doc:name="HTTP Listener config" doc:id="e478e4b6-59fe-4e64-ab68-6a5e0b557b6a" >
		<http:listener-connection host="0.0.0.0" port="${api.port}" readTimeout="${api.readTimeOut}"/>
	</http:listener-config>
	<apikit-soap:config name="soapkit-config" service="ServiceBenchService" port="ServiceBenchPort" doc:name="APIKit for SOAP Configuration" doc:id="b48dce63-24a2-4f70-b1f0-b8e895de08e6" soapVersion="SOAP11" wsdlLocation="ServiceBenchWrapper.wsdl" inboundValidationEnabled="true"/>
	<configuration-properties doc:name="Configuration properties" doc:id="a26609b5-08c5-414e-ab0d-38de81863226" file="common.properties" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="38026b0d-1874-40c8-9277-5298eba54c12" file="hsna-${env}.properties" key="servicebench.password" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<wsc:config name="ServiceBenchAPIConsume" doc:name="Web Service Consumer Config" doc:id="578843ce-7b63-41ca-b3fa-fa067a795ab8" >
		<wsc:connection wsdlLocation="${servicebench.api}" service="CRMServiceOrderService" port="CRMServiceOrderPort" address="https://test.servicebench.com/servicebenchv5/services/CRMServiceOrderService" />
	</wsc:config>
</mule>
